 /* Header/Blog Title */
 .header {
    padding: 10px;
    text-align: left;
    background:#594f8d;
    width: 100%;
    margin: auto;
    color:white
  }
  
  nav .navbar-nav li{
    color: white !important;
    font-size: 25px;
    }