<form (ngSubmit)="register()">
    Name : <input type="text" name="t1" [(ngModel)]=customer.customerName /> <br />
    email : <input type="text" name="t2" [(ngModel)]=customer.email /> <br />
    Date of Birth : <input type="date" name="t3" [(ngModel)]=customer.dateOfBirth /> <br />
  
    Password : <input type="password" name="t4" [(ngModel)]=customer.password /> <br />
    contact : <input type="text" name="t5" [(ngModel)]=customer.phone /> <br />
    aadhar : <input type="text" name="t6" [(ngModel)]=customer.aadharNo /> <br />
    pan : <input type="text" name="t7" [(ngModel)]=customer.panNo /> <br />
    Gender : <input type="text" name="t8" [(ngModel)]=customer.gender /> <br />
    nationality : <input type="text" name="t9" [(ngModel)]=customer.nationality /> <br />
    <button type="submit">Register</button>
</form>