<!doctype html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content = "width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1,minimum-scale = 1.0">
    
    <meta http-equiv= "X-UA-Compatible" content = "ie=edge">
    <title>Accordion</title>
    <!--Ion icons-->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel ="stylesheet" href = "faqs.component.css">

</head>
<body>
    <section>
        <div class="accordion">
            <div class="accordion-item" id ="question1">
                <a class = "accordion-link" href = "#question1">
                    What is the tenure of a home loan?
                    <i class = "icon ion-md-add"></i>
                    <i class = "icon ion-md-remove"></i>

                </a>
                <div class = "answer">
                   <p>
                    Home loans are long term borrowing instruments with a minimum tenure of 5 years and a maximum tenure of 30 years.
                    The tenure offered to you for your personal loan depends on the loan amount that is sanctioned to you by the lender along with other factors.
                   </p>

                </div>
            </div>

            <div class="accordion-item" id ="question2">
                <a class = "accordion-link" href = "#question2">
                    What is the Eligibility Criteria for a Home Loan?
                    <i class = "icon ion-md-add"></i>
                    <i class = "icon ion-md-remove"></i>

                </a>
                <div class = "answer">
                    <p>
                        Whether self-employed or salaried individuals/professionals — with a regular source of income can apply for home loans. 
                    One must be at least 21 years old when the loan period begins and should not exceed an age of 65 years when the loan ends or at the time of superannuation. 
                    This is the generic home loan eligibility criteria and specifics such as the minimum and maximum age limits, minimum income level, etc. may differ from one lender to another.
                    </p>

                </div>
            </div>

            <div class="accordion-item" id ="question3">
                <a class = "accordion-link" href = "#question3">
                    What do banks consider when granting a home loan?
                    <i class = "icon ion-md-add"></i>
                    <i class = "icon ion-md-remove"></i>

                </a>
                <div class = "answer">
                    <p>
                        Once repayment capacity determines your eligibility to apply for home loan, lenders consider the following factors:

                                Income level of the applicant
                                Age  of the applicant
                                Qualification (stability and occupation continuity)
                                Resident status (maximum limit for an Indian resident differs from that of a non-resident)
                                Spouse’s income (household income is taken into account when there is a co-applicant)
                                No. of dependants (it is a measure of repayment capacity)
                                Credit history and score (past repayment track record)
                                Status of existing loans
                    </p>

                </div>
            </div>

            <div class="accordion-item" id ="question4">
                <a class = "accordion-link" href = "#question4">
                    Can I apply for a joint loan with my friend?
                    <i class = "icon ion-md-add"></i>
                    <i class = "icon ion-md-remove"></i>

                </a>
                <div class = "answer">
                   <p>
                    No. A lender would only allow you to apply for a joint home loan if the application is co-signed by one or more members of your immediate family.
                     Thus, your friend does not qualify.
                   </p>

                </div>
            </div>

            <div class="accordion-item" id ="question5">
                <a class = "accordion-link" href = "#question5">
                    Who can be joint borrowers in case of a home loan?
                    <i class = "icon ion-md-add"></i>
                    <i class = "icon ion-md-remove"></i>

                </a>
                <div class = "answer">
                    <p>
                        Immediate family members such as your parents, spouse and children are allowed to be joint borrowers in case of a home loan.
                    </p>

                </div>
            </div>

            <div class="accordion-item" id ="question6">
                <a class = "accordion-link" href = "#question6">
                    What is the maximum number of joint borrowers for a home loan?
                    <i class = "icon ion-md-add"></i>
                    <i class = "icon ion-md-remove"></i>

                </a>
                <div class = "answer">
                    <p>
                        The maximum number of joint borrowers in case of a home loan is fixed at 6. However, only family members such as parents, siblings and spouse can be co-borrowers for a home loan in India.
                        Additionally, having a co-borrower who has a robust credit history and good credit score is preferable as compared to one with a low credit score.
                    </p>

                </div>
            </div>

            <div class="accordion-item" id ="question7">
                <a class = "accordion-link" href = "#question7">
                    What is floating rate home loan?
                    <i class = "icon ion-md-add"></i>
                    <i class = "icon ion-md-remove"></i>

                </a>
                <div class = "answer">
                   <p>
                    If the interest rate on the loan varies periodically over the loan tenure, then it is called a floating rate home loan. 
                    Lenders have their own base rate which determines the rate of interest charged on a home loan. 
                    The base rates of banks are revised from time to time based on RBI directives as well as other factors, which leads to an increase or decrease in the EMI amount payable.
                   </p>

                </div>
            </div>

            <div class="accordion-item" id ="question8">
                <a class = "accordion-link" href = "#question8">
                    How is the MCLR method going to affect my current home loan?
                    <i class = "icon ion-md-add"></i>
                    <i class = "icon ion-md-remove"></i>

                </a>
                <div class = "answer">
                    <p>
                        As per recently updated RBI rules, banks are required to use the MCLR (Marginal cost of lending rate) method to determine the interest rate on home loans. 
                        In case of a floating rate home loan, the banks are now required to change the interest rate either yearly or every six months. 
                        In case you have a fixed rate home loan, you can get in touch with your bank to get information regarding the conversion of your fixed rate home loan to the new MCLR-based floating interest rate. 
                        At present, the introduction of the new MCLR regime has led to a reduction in applicable home loan interest rates.
                    </p>

                </div>
            </div>

            <div class="accordion-item" id ="question9">
                <a class = "accordion-link" href = "#question9">
                    How do I repay my home loan?
                    <i class = "icon ion-md-add"></i>
                    <i class = "icon ion-md-remove"></i>

                </a>
                <div class = "answer">
                    <p>
                        There are different ways to pay off your loan such as issuing post-dated cheques for the tenure of the home loan, 
                        getting the amount deducted automatically from your salary or by issuing standard instructions to the lender for ECS (Electronic Clearing System) wherein the EMI is automatically deducted from your bank every month.
                    </p>
                </div>
            </div>

            <div class="accordion-item" id ="question10">
                <a class = "accordion-link" href = "#question10">
                    Is prepayment of home loan allowed?
                    <i class = "icon ion-md-add"></i>
                    <i class = "icon ion-md-remove"></i>

                </a>
                <div class = "answer">
                    <p>
                        Yes, one can repay the loan amount before completion of the scheduled loan tenure by making a lump sum payment towards paying off the loan. 
                        In such cases, the bank may decide to apply some penalties in the range of 2-3% of the principal amount outstanding. 
                        Some banks and NMFC (non-banking financial companies) do not charge any penalty on making prepayment of a home loan.
                    </p>
                </div>
            </div>

            

        </div>
    </section>
</body>
</html>

