
    
    <div class="wrapper">
        <div class="topnav" id="myTopnav">
        <ul>
                    <a [routerLink] ="'/'">Home</a>
                    <a [routerLink]="'/apply-now'">Apply Now</a>
                    <a [routerLink]="'/login'">Sign IN</a>
                    <a [routerLink]="'/emicalculator'">EmiCalculator</a>
                    <a [routerLink]="'/aboutus'">AboutUs</a>
                    <a [routerLink]="'/faqs'">faq</a>
                     <a [routerLink]="'/contactus'">ContactUs</a>
                     <a [routerLink]="'/eligibilitycalculator'">Eligibility-Check</a>
                   </ul>
              </div>
            
           <!-- <h2>Sidebar</h2>
            <ul>
                <li><a [routerLink] ="'/'"><i class="fas fa-home"></i>Home</a></li>
                <li><a [routerLink]="'/registration'"><i class="fas fa-user"></i>Apply Now</a></li>
                <li><a [routerLink]="'/login'"><i class="fas fa-address-user"></i>Login</a></li>
                <li><a [routerLink]="'/emicalculator'"><i class="fas fa-project-diagram"></i>EmiCalculator</a></li>
                <li> <a [routerLink]="'/aboutus'"><i class="fas fa-address-book"></i>About Us</a></li>
                <li><a [routerLink]="'/ eligibilitycalculator'"><i class="fas fa-address-book"></i>Eligibility Check</a></li>
                <li><a [routerLink]="'/ contactus'"><i class="fas fa-address-book"></i>Contact</a></li>
                <li><a [routerLink]="'/faqs'"><i class="fas fa-map-pin"></i>Faq</a></li>
                <li><a [routerLink]="'/dashboard'"><i class="fas fa-map-pin"></i>Dashboard</a></li>
               
            </ul> 
                </div>
       <div class="main_content">
            <div class="header">Welcome!! Have a nice day.</div>  
            <div class="info">
              <div><img src="assets/factorsHomel.jpg" width="600" height="300" >   <img src="assets/applyhomeloan.png" width="600" height="300"></div>
              <div id="slider" >
                <figure>
                    <img src="assets/bank-loan.png" width="400" height="400">
                     
                     <img src="assets/applyhomeloan.png" width="400" height="400">
                    <img src="assets/factorsHomel.jpg" width="400" height="400" >
                    <img src="assets/homeloan2.jpg" width="400" height="400">
                    
                  <img src="assets/pmyojnafamily.jpg" width="600" height="400">
                    <img src="assets/safelysend.jpg" width="600" height="400">
                    <img src="assets/covidloan.png" width="600" height="400">
                    <img src="assets/safelysend.jpg" width="600" height="400">
                    <img src="assets/ratesoffer.png" width="600" height="400">
                    <img src="assets/covidloan.png" width="600" height="400">
                    <img src="assets/carloan.png" width="600" height="400">
                
                </figure>	
                
                </div>

              <div>Buying a house is a dream for many and involves a lot of financial planning. Lifespark Bank Of India Home Loans makes it simpler for those who want to realise this dream.
                We at Lifespark Bank Of India Home Loans offer you Home Loan solution and information to either purchase/construct a new home, or renovate an existing one.
           For details, give us a missed call on 8100881999</div>
             
          </div>
        </div>-->
    </div>
    
    