
    
    <div class="wrapper">
        <div class="topnav" id="myTopnav">
        <ul>
                    <a [routerLink] ="'/'">Home</a>
                    <a [routerLink]="'/apply-now'">Apply Now</a>
                   
                    <a [routerLink]="'/emicalculator'">EmiCalculator</a>
                    <a [routerLink]="'/aboutus'">AboutUs</a>
                    <a [routerLink]="'/faqs'">faq</a>
                     <a [routerLink]="'/contactus'">ContactUs</a>
                     <a [routerLink]="'/adninlogin'">AdminLogin</a>
                     <a [routerLink]="'/eligibilitycalculator'">Eligibility-Check</a>
                   </ul>
              </div>
            
          
    </div>
    
    