<!DOCTYPE html>
<html>
<head>
	<title>Image Slider CSS3</title>
	<!--link rel="stylesheet" type="text/css" href="css/style.css">-->
</head>
<body>
<div id="slider" >
<figure>
    <img src="assets/bank-loan.png" width="800" height="300"> 
    <img src="assets/applyhomeloan.png" width="800" height="300">
    <img src="assets/planhome.png" width="800" height="300">
    <img src="assets/factorsHomel.jpg" width="800" height="300" >
    <img src="assets/homeloan2.jpg" width="800" height="300">
    <img src="assets/ratesoffer.png" width="800" height="300">
   <!--<img src="assets/pmyojnafamily.jpg" width="800" height="300">
    <img src="assets/safelysend.jpg" width="800" height="300">
    <img src="assets/covidloan.png" width="800" height="300">
    <img src="assets/carloan.png" width="800" height="300">-->

</figure>	

</div>

</body>
</html>

