<div class="about-section">
  <h1>About Us </h1>
  <p>Since 1996 our misson has been to help others live a more natural life</p>
  <p>Know us better</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/Pragati.jpeg"  width="237" height="300">
      <div class="container">
        <h2>Pragati</h2>
        <p class="title">CEO & Founder</p>
        <p>School Of Business London</p>
        <p>pragati@lntinfotech.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/Rohitt.jpeg" alt="Rockey" width="237" height="300">
      <div class="container">
        <h2>Rohit Goyal</h2>
        <p class="title">Art Director</p>
        <p>German Art Agency</p>
        <p>fishy@lntinfotech.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/Akshay.jpeg" alt="Tyagi" width="237" height="300">
      <div class="container">
        <h2>Akshay Tyagi</h2>
        <p class="title">Managing Director</p>
        <p>School Of Economis London</p>
        <p>tyagn@lntinfotech.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
      <div class="card">
        <img src="assets/Rachit.jpeg" alt="Sharmaji" width="237" height="300">
        <div class="container">
          <h2>Rachit Sharma</h2>
          <p class="title">Chief Financial Officer</p>
          <p>An experience of 25 years</p>
          <p>sharmaji@lntinfotech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
</div>



